@import 'https://fonts.googleapis.com/css?family=Fira+Mono:400,700';
@import 'bootstrap/dist/css/bootstrap.css';
@import './_variables.css';

html {
  box-sizing: border-box;
  font-size: 80%;
}

body {
  color: var(--color-white);
  background-color: var(--color-black);
  display: flex;
  font-family: "Fira Mono",monospace;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: 0.0625em;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}
