@import '../../_settings/_base.css';

p {
    font-weight: 400 !important;
    margin: 0.5rem 0 !important;
}

.default {
    color: var(--color-white) !important;
}

.dark {
    color: var(--color-white) !important;
}

.light {
    color: var(--color-black) !important;
}