@import '../../_settings/_base.css';

.default {
  font-weight: bolder;
  color: var(--color-white) !important;
}

.dark {
  font-weight: bolder;
  color: var(--color-white) !important;
}

.light {
  font-weight: bolder;
  color: var(--color-black) !important;
}