@import '../../_settings/_base.css';

input {
 border-radius: 0px !important;
}

.default {
  color: var(--color-black);
  background: var(--color-white);
}

.light {
  color: var(--color-black);
  background: var(--color-gray);
}

.dark {
  color: var(--color-black);
  background: var(--color-white);
}

.small {
  padding: var(--padding-small);
  font-size: var(--font-small);
}

.medium {
  padding: var(--padding-medium);
  font-size: var(--font-medium);
}

.large {
  padding: var(--padding-large);
  font-size: var(--font-large);
}

.disabled {
  color: #919191;
}
