@import '../../_settings/_base.css';

button {
  --bs-btn-border-radius: 7px !important;
}

.menu-dark {
  color: var(--color-white) !important;
  background: var(--color-black);
  border-color: #000;
  text-decoration: none !important;
  --bs-btn-hover-color: #000 !important;
  --bs-btn-hover-bg: #000 !important;
  --bs-btn-hover-border-color: #000 !important;
  --bs-btn-active-bg: #000 !important;
}

.menu-light {
  color: #000 !important;
  background: var(--color-white);
  border-color: #fff;
  text-decoration: none !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #fff !important;
  --bs-btn-hover-border-color: #fff !important;
  --bs-btn-active-bg: #fff !important;
}

.default {
  color: #fff;
  background: var(--color-black);
  --bs-btn-color: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}

.light {
  color: #000;
  background: var(--color-white);
  --bs-btn-color: #000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

.dark {
  color: #fff;
  background: var(--color-black);
  --bs-btn-color: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}

.small {
  padding: var(--padding-small);
  font-size: var(--font-small);
}

.medium {
  padding: var(--padding-medium);
  font-size: var(--font-medium);
}

.large {
  padding: var(--padding-large);
  font-size: var(--font-large);
}

.disabled {
  color: #919191;
}
